nav 
{ 
    background-color: black;

padding: 5px;
}
nav ul 
{
    text-align:center ;
    font-size:1.2em;
    
}
nav ul li 
{
list-style-type: none;
background-color: royalblue;
display: inline;
padding: 15px;
margin: 5px;
border: 2px solid darkblue;
border-radius: 10px ;

}
nav ul li:hover
{
background-color: darkslateblue;

}
nav ul li:active
{
text-decoration-color: aliceblue;

}



nav ul li a
{
color: rgb(36, 34, 34);
text-decoration: none;
}
header 
{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    
}
footer
{
background-color: black;
position: fixed ;
bottom: 0px;
padding: 0;
margin: 0;
width: 100%;
}
body
{
    font-family: verdana;
    margin: 0;
    background-color: darkgrey;
}